<!DOCTYPE html>

	<head>
		<title>Javascript Test</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Please input grade.</p>
		<input type="text" id="demo1"/> 
		<input type="button" onclick="getStatus()" value="Get Status"/>
		<div id="message"></div>
		<a href = "javascript:void(document.body.style.backgroundColor = 'yellow');"> <!--Void type-->
		Click me! <br/><a>
		<input type="button" onclick="guessNumber()" value="Get a number"/>
		
		<script>
			function getStatus(){
				var grade=document.getElementById("demo1").value; // id="demo1" - input text field
				var status=(Number(grade)>=55)? "Pass" : "Fail"; // ternary
				document.getElementById("message").innerHTML=status;
			}
			function guessNumber(){
				var guess = Math.floor((Math.random() * 100)+1);
				var x = 0;
				while(x!=guess){
					x = prompt("Enter a Number");
					try{
						if(x=="") throw "empty";
						if(isNaN(x)) throw "not a number";
						x=Number(x);
						if(x<guess) throw "Guess Higher!";
						if(x>guess) throw "Guess Lower!";
						if(x==guess) throw "You guessed it correctly!";
					}catch(err){
						alert(err);
					}
				}
			}
		</script>
	</body>

</html>
